@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  overflow-x: hidden;
}

/* Container for components content */
.content__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Navbar  */

.header {
  height: 1300px;
  width: 100%;
  background-image: url(https://free4kwallpapers.com/uploads/originals/2021/05/27/geometric-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.navbar__elements {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 2.75rem;
  cursor: pointer;
}

.navbar__name {
  display: none;
  cursor: pointer;
}

.navbar__bars {
  height: 40px;
  width: 40px;
  font-size: 1.25em;
  color: white;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
  border-radius: 25%;
  background-color: #d196f9;
  cursor: pointer;
  transition: 250ms;
  position: relative;
  z-index: 5;
}

.fa-bars {
  position: relative;
  z-index: 999;
}

.bars__animation__1,
.bars__animation__2,
.bars__animation__3,
.bars__animation__4 {
  border-radius: 25%;
  position: absolute;
}

.bars__animation__1 {
  background-color: #b948ff;
}

.bars__animation__2 {
  background-color: #bd53ff;
}

.bars__animation__3 { 
  background-color: #c979ff;
}

.bars__animation__4 {
  background-color: #d196f9;
}

.bars__animate {
  animation: bars__animation 0.5s 1;
}

@keyframes bars__animation {
  from {
    height: 0px;
    width: 0px;
  }

  to {
    height: 40px;
    width: 40px;
  }
}

.navbar__logs {
  display: none;
  cursor: pointer;
}

.fa-user {
  transition: 0.3s;
}

.navbar__login:hover .fa-user {
  color: #ca7bff
}

/* Section text */
.text {
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.text__header {
  font-weight: 500;
  margin-bottom: 1rem;
}

.text__description {
  text-shadow: black 0.01rem 0.01rem;
  padding-bottom: 0.75rem;
}

/* Quick acces */

.quick__acces__container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(5,50px);
  place-items: center;
  gap: 0.5rem;
}

.quick__start,
.quick__edit {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-row: span 2;
}

.quick__start {
  background-color: #ddc8cb;
}

.arrows__container i:nth-child(1) {
  color: #7A7AFF;
  position: absolute;
  margin-right: 325px;
  transition: 200ms ease-in;
}

.quick__edit{
  background-color: #d4cbe5;
}

.quick__start,
.quick__edit,
.quick__tools {
  height: 85%;
  width: 270px;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.quick__description {
  height: 60px;
  width: 100%;
  font-size: 0.75em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  padding: 1.75rem;
  gap: 1.25rem;
}

.fa-pen {
  font-size: 1.75em;
  color: #7353ba;
  position: relative;
  margin-right: 0.125rem;
}

.fa-play {
  font-size: 1.75em;
  color: #e84855;
  margin-right: 0.125rem;
}

.quick__title {
  height: 32px;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  display: grid;
  place-items: center;
}

.title__start {
  background-color: #e84855;
}

.title__edit {
  background-color: #7353ba;
}

.quick__tools {
  color: white;
  letter-spacing: 0.5px;
  background-color: #31383b;
  position: relative;
  z-index: 1;
  transition: 250ms;
}


.quick__tools:hover {
  box-shadow: rgb(143, 143, 143) 0px 0px 0.5rem 0.075rem;
}

/* Templates */

.templates__container {
  height: 315px;
  width: 315px;
  display: grid;
  grid-template-columns: repeat(2,45%);
  grid-template-rows: repeat(2,45%);
  place-content: center;
  gap: 6%;
  margin: 7rem auto 0 auto;
}

.templates__square {
  border-radius: 0.75rem;
  background-color: #31383b;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms;
}

.templates__square {
  position: relative;
  bottom: 0;
  transition: 0.25s;
}

.templates__square:hover {
  bottom: 0.5rem;
  box-shadow: rgb(143, 143, 143) 0px 0px 0.8125rem 0.2rem;
}

.templates__square__img {
  height: 75%;
  width: 100%;
  display: grid;
  place-items: center;
}

.square__img {
  height: 100%;
  width: 100%;
}

.templates__sqaure__title {
  height: 25%;
  width: 100%;
  color: white;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
  background-color: #393e41;
  transition: 200ms;
}

.drag__drop {
  height: 141.75px;
  font-size: 2em;
  font-weight: 700;
  color: #5e666b;
  display: grid;
  place-items: center;
  grid-column: span 2;
  border: 0.2rem dashed #6f767a;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 250ms; 
}

.drag__drop:hover {
  border: 0.2rem dashed #8b56ad;
}

.drag__drop:hover > .drag__drop__content {
  color: #8b56ad;
}

.drag__drop:active {
  border: 0.2rem dashed #8b56ad;
}

.drag__drop__content:active {
  color: #8b56ad;
}

.drag__drop__content {
  display: grid;
  grid-template-columns: repeat(3,50px);
  place-items: center;
  transition: 250ms;
}


/* Content animattion - scroll/fade in */

.hidden{
  transform: translateX(-100%);
  transition: all 1s ease;
}

.show {
  transform: translateX(0);
}

/* content__first */

.content__first__outline {
  width: 100vw;
  color: white;
  box-shadow: rgb(6, 0, 24) 0px -175px 125px 100px;
  background-color: rgb(6, 0, 24);
}

.content__first {
  width: 100%;
  display: grid;
  grid-template-rows: 200px 225px;
  place-items: center;
  padding-bottom: 25px;
}

.content__first__header__sparkles {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(196,0,215,1) 41%, rgba(101,69,252,1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkles 1s infinite;
}

@keyframes sparkles{
  from{
    background-position: -200%;
  }
  to{
    background-position: 0%;
  }
}

.content__first__text {
  text-align: center;
  padding: 0 1.25rem 0 1.25rem;
}

.content__first__header {
  font-size: 1.45em;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-bottom: 0.75rem;
}

.content__first__description {
  font-size: 0.95em;
  font-weight: 500;
  scroll-behavior: smooth;
}

.description__link {
  color: #bd53ff;
  text-decoration: none;
}

.content__first__img > img {
  height: 225px;
  border-radius: 0.65rem;
} 

/* content__second */

.content__secound__outline {
  width: 100vw;
  background-color: rgb(231, 231, 231);
  position: relative;
}

.content__second {
  height: 275px;
  width: 360px;
  display: grid;
  grid-template-columns: repeat(6,45%);
  align-items: center;
  gap: 18px;
  margin: auto;
  overflow-x: scroll;
  padding-left: 5%;
}

.content__second {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.content__second::-webkit-scrollbar {
  display: none;
}

.carousel__element {
  height: 75%;
  width: 100%;
  color: white;
  display: grid;
  grid-template-rows: 75% 23%;
  border-radius: 0.8rem;
  background-color: rgb(6, 0, 24);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  right: 1px;
  transition: 200ms;
}

.carousel__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__img img {
  height: 80%;
  width: 80%;
}

.carousel__title {
  font-weight: 600;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  background-color: rgb(33, 30, 41);
}

.theme__text {
  font-size: 1.25em;
  font-weight: 600;
  color: #393e41;
  display: flex;
  justify-content: center;
  padding: 0rem 0.5rem 1.5rem 0.5rem;
}

.content__second__sparkles {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(196,0,215,1) 41%, rgba(101,69,252,1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkles 1s infinite;
  margin-left: 5px;
}

.content__second__text {
  display: none;
}

.content__second__arrows {
  display: none;
}

.content__second__arrows i:nth-child(1):hover,
.content__second__arrows i:nth-child(2):hover {
  color: #667074;
}


.content__second__arrows i:nth-child(1):active,
.content__second__arrows i:nth-child(2):active {
  color: #8e9ba0;
}

/* xs */
@media (min-width: 475px) {
  .content__container {
    max-width: 475px;
  }
  
  .header {
    height: 1250px;
  }

}

/* sm */
@media (min-width: 640px) {
  .content__container {
    max-width: 640px;
  }

  .header {
    height: 1200px;
  }

}

/* md */
@media (min-width: 768px) {
  .content__container {
    max-width: 768px;
  }
  
  .header {
    height: 675px;
  }

  .navbar__name {
    height: 35px;
    width: 125px;
    display: flex;
    margin-left: 0.825rem;
  }

  .text__header {
    font-size: 1.45em;
  }

  .quick__acces__container{
    width: 75%;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
  }

  .quick__tools {
    width: 99%;
    grid-column: span 2;
  }

  .templates__container {
    grid-template-columns: repeat(5,35%);
    grid-template-rows: repeat(2,35%);
    position: relative;
    bottom: 14.5rem;
  }

  .drag__drop {
    width: 110.25px;
    height: 110.25px;
    font-size: 1em;
    grid-column: span 1;
    margin-top: 0rem;
  }
  
  .drag__drop__content {
    grid-template-columns: repeat(3,25px);
  }

  .quick__description {
    font-size: 0.68em;
    gap: 1.25rem;
  }

  .fa-pen {
    font-size: 2em;
    margin-right: 0rem;
  }
  
  .fa-play {
    font-size: 2em;
    margin-right: 0rem;
  }

  /* content__first */

  .content__first {
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(1,1fr);
    padding-bottom: 4rem;
  }

  .content__first__header {
    font-size: 1.5em;
  }
  
  .content__first__description {
    font-size: 1.25em;
  }

  /* content__second  */

  .content__secound__outline>.content__container{
    display: grid;
    grid-template-columns: 360px 325px;
    gap: 50px;
    padding-top: 1rem;
  }

  .carousel__element {
    margin-left: 1rem;
  }

  .theme__text {
    display: none;
  }

  .content__second__text {
    padding-top: 2.25rem;
    display: block;
  }

  .content__second__header {
    font-size: 1.75em;
    padding-bottom: 0.6rem;
  }

  .content__second__description {
    font-size: 1em;
    font-weight: 600;
  }

  .slide__info {
    font-weight: 600;
    display: block;
    padding-top: 0.5rem;
  }

  .content__second__arrows {
    width: 390px;
    font-size: 2.25em;
    color: #393e41;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
  }
  
}

/* lg */
@media (min-width: 1024px) {
  .content__container {
    max-width: 1024px;
  }
    
  .header {
    height: 750px;
  }

  .navbar__bars {
    display: none;
  }

  .navbar__settings {
    gap: 1rem;
  }

  .navbar__logs {
    font-size: 1.35em;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
  }

  .fa-user {
    font-size: 0.9em;
    margin-right: 0.4rem;
  }

  .navbar__register {
    height: 40px;
    width: 106.52px;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    background-color: #c266ff;
    padding-top: 5.5px;
    overflow: hidden;
  }

  /* Navbar animation */
  
  .navbar__register span {
    position: relative;
    z-index: 1;
  }

  .navbar__register__color1,
  .navbar__register__color2,
  .navbar__register__color3,
  .navbar__register__color4 {
    height: 40px;
    width: 100%;
    border-radius: 50%;
    position: relative;
    transition: .3s;
  }

  .navbar__register__color1 {
    background-color: #fff896;
    margin-top: 10px;
  }

  .navbar__register__color2 {
    background-color: #4ADEDE;
    margin-top: -27.5%;
  }

  .navbar__register__color3 {
    background-color: rgb(122, 122, 255);
    margin-top: -27.5%;
  }

  .navbar__register__color4 {
    background-color: #c266ff;
    margin-top: -27.5%;
  }

  .arrows__container i:nth-child(1) {
      margin-right: 375px;
    }

  @keyframes navbar__register__animation {
    from {
      top: -.5rem;
    }
    to {
      top: -6.5rem;
    }
  }

  .navbar__register:hover div{
    animation: navbar__register__animation 1s 1;
  }

  /* end of animation */

  .text {
    padding: 2rem;
  }

  .text__header {
    font-size: 1.9em;
  }
  
  .text__description {
    font-size: 1.05em;
  }

  .quick__acces__container {
    width: 70%;
    gap: 1rem;
  }

  .quick__start,
  .quick__edit {
    height: 110%;
    width: 340px;
  }

  .quick__start,
  .quick__edit,
  .quick__tools {
    border-radius: 0.75rem;
  }

  .quick__description {
    height: 85px;
    font-size: 0.9em;
  }
  
  .quick__title {
    height: 42.5px;
    font-size: 1em;
  }

  .quick__tools {
    width: 99.5%;
  }

  .templates__container {
    grid-template-columns: repeat(5,45%);
    grid-template-rows: repeat(1,45%);
  }

  .drag__drop {
    height: 141.75px;
    width: 141.75px;
    font-size: 1.25em;
    grid-column: span 1;
  }

  .drag__drop__content {
    grid-template-columns: repeat(3,30px);
  }

  .templates__container {
    margin: 2.5rem auto 0 auto;
  }

  /* content__first */

  .content__first {
    grid-template-columns: 43% 43%;
    place-content: center;
    padding-bottom: 4rem;
    margin-top: -2.25rem;
  }

  .content__first__text {
    text-align: start;
    padding-left: 4rem;
  }

  .content__first__header {
    font-size: 2em;
  }
  
  .content__first__description {
    font-size: 1.35em;
  }

  .content__first__img> img {
    height: 250px;
    border-radius: 0.75rem;
  } 

  /* content__second  */

  .content__secound__outline > .content__container{
    place-content: center;
    grid-template-columns: 400px 350px;
  }

  .content__second {
    gap: 6%;
    padding-left: 0;
  }

  .carousel__element {
    margin-left: 0;
  }

  .content__second__header {
    font-size: 2em;
    padding-bottom: 0.75rem;
  }

  .content__second__description,
  .content__second__sparkles {
    font-weight: 700;
  }
  
  .content__second__arrows {
    width: 430px;
    margin-left: -43px;
  }

}

/* xl */
@media (min-width: 1280px) {
  .content__container {
    max-width: 1280px;
  }
  
  .header {
    height: 750px;
  }

  .navbar{
    height: 85px;
  }

  .navbar__name {
    height: 35px;
    width: 150px;
  }

  .navbar__logo {
    height: 3rem;
  }

  .navbar__logs {
    font-size: 1.55em;
  }

  .navbar__register {
    height: 45px;
    width: 120px;
  }

  .navbar__register__color1,
  .navbar__register__color2,
  .navbar__register__color3,
  .navbar__register__color4 {
    height: 45px;
    width: 100%;
  }

  .text {
    padding: 2.25rem;
  }

  .text__header {
    font-size: 2.1em;
  }
  
  .text__description {
    font-size: 1.1em;
  }

  .quick__acces__container {
    width: 55%;
  }

  .quick__tools {
    width: 100%;
  }

  .quick__description span{
    font-size: 0.95em;
  }

  .fa-pen {
    font-size: 1.75em;
    color: #7353ba;
    margin-right: 0.5rem;
  }
  
  .fa-play {
    font-size: 1.75em;
    color: #e84855;
    margin-right: 0.5rem;
  }

    /* content__first */

    .content__first {
      grid-template-columns: 35% 35%;
      margin-top: -2rem;
    }
  
    .content__first__text {
      text-align: start;
      padding-left: 4rem;
    }

    .content__first__description {
      font-size: 1.35em;
    }
  
    .content__first__img> img {
      height: 250px;
      border-radius: 0.75rem;
    } 
}

/* 2xl */
@media (min-width: 1536px) {
  .content__container {
    max-width: 1536px;
  }

  .header {
    height: 800px;
  }

  .navbar{
    height: 90px;
  }

  .navbar__name {
    height: 35px;
    width: 175px;
  }

  .navbar__logo {
    height: 3.75rem;
  }

  .navbar__logs {
    font-size: 1.6em;
    border-radius: 2rem;
  }

  .navbar__register {
    height: 45px;
    width: 125px;
  }

  .text {
    text-align: center;
  }

  .text__header {
    font-size: 2.25em;
  }
  
  .text__description {
    font-size: 1.25em;
  }

  .quick__acces__container {
    width: 55%;
    margin-top: 1.5rem;
  }

  .quick__start,
  .quick__edit {
    height: 125%;
    width: 410px;
  }

  .quick__description {
    height: 95px;
    font-size: 1.15em;
  }

  .arrows__container i:nth-child(1) {
    margin-right: 440px;
  }
  
  .quick__title {
    height: 50px;
    font-size: 1.15em;
  }

  .quick__tools {
    height: 50px;
    font-size: 1.05em;
    margin-top: 2.5rem;
  }

  .templates__container {
    gap: 10%;
    margin: 3.75rem auto 0 auto;
  }

    /* content__first */

    .content__first {
      grid-template-columns: 32% 32%;
      padding-top: 3rem;
    }

  /* content__second  */

  .content__secound__outline {
    padding: 1rem 0 2rem 0rem;
  }

  .content__secound__outline > .content__container{
    place-content: center;
    grid-template-columns: 400px 450px;
    gap: 50px;
  }

  .content__second__text {
    padding-top: 1.35rem;
  }

  .content__second__header {
    padding-bottom: 1rem;
  }

  .content__second__description,
  .content__second__sparkles {
    font-size: 1.3em;
    font-weight: 700;
  }
}

