@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* Container for components content */
.content__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Navbar  */

.header {
  min-height: 800px;
  width: 100%;
  background-image: url(https://free4kwallpapers.com/uploads/originals/2021/05/27/geometric-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.navbar__elements {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 2.75rem;
}

.navbar__name {
  display: none;
}

.navbar__bars{
  font-size: 2.75em;
  color: #3a4246;
  cursor: pointer;
}

.navbar__logs {
  display: none;
  cursor: pointer;
}

/* Section text */
.text {
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.text__header {
  font-weight: 500;
  margin-bottom: 1rem;
}

.text__description {
  text-shadow: black 0.01rem 0.01rem;
}

/* xs */
@media (min-width: 475px) {
  .content__container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .content__container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .content__container {
    max-width: 768px;
  }

  .navbar__name {
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    margin-left: 0.825rem;
  }

  .text__header {
    font-size: 1.45em;
  }

}

/* lg */
@media (min-width: 1024px) {
  .content__container {
    max-width: 1024px;
  }

  .navbar__bars {
    display: none;
  }

  .navbar__settings {
    gap: 1rem;
  }

  .navbar__logs {
    font-size: 1.35em;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
  }

  .fa-user {
    font-size: 0.9em;
    margin-right: 0.4rem;
  }

  .navbar__register {
    border-radius: 20px;
    background-color: #e04088;
    padding: 0.35rem 0.75rem 0.65rem 0.75rem;
  }

  .text {
    padding: 2rem;
  }

  .text__header {
    font-size: 1.9em;
  }
  
  .text__description {
    font-size: 1.05em;
  }
}

/* xl */
@media (min-width: 1280px) {
  .content__container {
    max-width: 1280px;
  }

  .navbar{
    height: 85px;
  }

  .navbar__name {
    font-size: 1.75em;
  }

  .navbar__logo {
    height: 3rem;
  }

  .navbar__logs {
    font-size: 1.55em;
  }

  .text {
    padding: 2.25rem;
  }

  .text__header {
    font-size: 2.1em;
  }
  
  .text__description {
    font-size: 1.1em;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .content__container {
    max-width: 1536px;
  }

  .navbar{
    height: 90px;
  }

  .navbar__name {
    font-size: 2.4em;
  }

  .navbar__logo {
    height: 3.75rem;
  }

  .navbar__logs {
    font-size: 1.6em;
    border-radius: 2rem;
    padding: 0.5rem 1rem 0.82rem 1rem;
  }

  .text {
    text-align: start;
  }

  .text__header {
    font-size: 3em;
  }
  
  .text__description {
    font-size: 1.75em;
  }
}