@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  overflow-x: hidden;
}

/* Container for components content */
.content__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Navbar  */

.header {
  height: 1300px;
  width: 100%;
  background-image: url(https://free4kwallpapers.com/uploads/originals/2021/05/27/geometric-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.navbar__elements {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 2.75rem;
  cursor: pointer;
}

.navbar__name {
  display: none;
  cursor: pointer;
}

.navbar__bars {
  height: 40px;
  width: 40px;
  font-size: 1.25em;
  color: white;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
  border-radius: 25%;
  background-color: #ca7efc;
  cursor: pointer;
  transition: 250ms;
  position: relative;
  z-index: 2;
}

.fa-bars {
  position: relative;
  z-index: 99;
}

.bars__animation__1,
.bars__animation__2,
.bars__animation__3,
.bars__animation__4 {
  border-radius: 25%;
  position: absolute;
}

.bars__animation__1 {
  background-color: #b948ff;
}

.bars__animation__2 {
  background-color: #bd53ff;
}

.bars__animation__3 { 
  background-color: #c46bff;
}

.bars__animation__4 {
  background-color: #ca7efc;
}

.bars__animate {
  animation: bars__animation 0.5s 1;
}

@keyframes bars__animation {
  from {
    height: 0px;
    width: 0px;
  }

  to {
    height: 40px;
    width: 40px;
  }
}

/* bars__rollbar - mobile nav  */

.bars__rollbar {
  height: 0;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: #393e41;
  position: absolute;
  z-index: 1;
  top: 20px;
  transition: 500ms ease-in-out;
  padding-bottom: 1.15rem;
  overflow: hidden;
}

.bars__rollbar i {
  cursor: pointer;
  transition: 250ms;
}

.fa-user-check:hover {
  color: #d196f9;
}

.fa-user-plus:hover {
  color: greenyellow;
}

.fa-user-xmark:hover {
  color: rgb(255, 68, 68);
}



.navbar__logs {
  display: none;
  cursor: pointer;
}

.fa-user {
  transition: 0.3s;
}

.navbar__login:hover .fa-user {
  color: #ca7bff
}

/* Section text */
.text {
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.text__header {
  font-weight: 500;
  margin-bottom: 1rem;
}

.text__description {
  text-shadow: black 0.01rem 0.01rem;
  padding-bottom: 0.75rem;
}

/* Quick acces */

.quick__acces__container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(5,50px);
  place-items: center;
  gap: 0.5rem;
}

.quick__start,
.quick__edit {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-row: span 2;
}

.quick__start {
  background-color: #ddc8cb;
}

.arrows__container i:nth-child(1) {
  color: #7A7AFF;
  position: absolute;
  margin-right: 325px;
  transition: 200ms ease-in;
}

.quick__edit{
  background-color: #d4cbe5;
}

.quick__start,
.quick__edit,
.quick__tools {
  height: 85%;
  width: 270px;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.quick__description {
  height: 60px;
  width: 100%;
  font-size: 0.75em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  padding: 1.75rem;
  gap: 1.25rem;
}

.fa-pen {
  font-size: 1.75em;
  color: #7353ba;
  position: relative;
  margin-right: 0.125rem;
}

.fa-play {
  font-size: 1.75em;
  color: #e84855;
  margin-right: 0.125rem;
}

.quick__title {
  height: 32px;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  display: grid;
  place-items: center;
}

.title__start {
  background-color: #e84855;
}

.title__edit {
  background-color: #7353ba;
}

.quick__tools {
  color: white;
  letter-spacing: 0.5px;
  background-color: #31383b;
  position: relative;
  z-index: 1;
  transition: 250ms;
}


.quick__tools:hover {
  box-shadow: rgb(143, 143, 143) 0px 0px 0.5rem 0.075rem;
}

/* Templates */

.templates__container {
  height: 315px;
  width: 315px;
  display: grid;
  grid-template-columns: repeat(2,45%);
  grid-template-rows: repeat(2,45%);
  place-content: center;
  gap: 6%;
  margin: 7rem auto 0 auto;
}

.templates__square {
  border-radius: 0.75rem;
  background-color: #31383b;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms;
}

.templates__square {
  position: relative;
  bottom: 0;
  transition: 0.25s;
}

.templates__square:hover {
  bottom: 0.5rem;
  box-shadow: rgb(143, 143, 143) 0px 0px 0.8125rem 0.2rem;
}

.templates__square__img {
  height: 75%;
  width: 100%;
  display: grid;
  place-items: center;
}

.square__img {
  height: 100%;
  width: 100%;
}

.templates__sqaure__title {
  height: 25%;
  width: 100%;
  color: white;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
  background-color: #393e41;
  transition: 200ms;
}

.drag__drop {
  height: 141.75px;
  font-size: 2em;
  font-weight: 700;
  color: #5e666b;
  display: grid;
  place-items: center;
  grid-column: span 2;
  border: 0.2rem dashed #6f767a;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 250ms; 
}

.drag__drop:hover {
  border: 0.2rem dashed #8b56ad;
}

.drag__drop:hover > .drag__drop__content {
  color: #8b56ad;
}

.drag__drop:active {
  border: 0.2rem dashed #8b56ad;
}

.drag__drop__content:active {
  color: #8b56ad;
}

.drag__drop__content {
  display: grid;
  grid-template-columns: repeat(3,50px);
  place-items: center;
  transition: 250ms;
}


/* Content animattion - scroll/fade in */

.hidden{
  transform: translateX(-100%);
  transition: all 1s ease;
}

.show {
  transform: translateX(0);
}

/* content__first */

.content__first__outline {
  width: 100vw;
  color: white;
  box-shadow: rgb(6, 0, 24) 0px -175px 125px 100px;
  background-color: rgb(6, 0, 24);
}

.content__first {
  width: 100%;
  display: grid;
  grid-template-rows: 200px 225px;
  place-items: center;
  padding: 3.5rem 0 3.5rem 0;
  margin-top: -4rem;
}

.content__first__header__sparkles {  /* also used in third component */
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(196,0,215,1) 41%, rgba(101,69,252,1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkles 1s infinite;
}

@keyframes sparkles{
  from{
    background-position: -200%;
  }
  to{
    background-position: 0%;
  }
}

.content__first__text {
  text-align: center;
  padding: 0 1.25rem 0 1.25rem;
}

.content__first__header {
  font-size: 1.45em;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-bottom: 0.75rem;
}

.content__first__description {
  font-size: 0.95em;
  font-weight: 500;
  scroll-behavior: smooth;
}

.description__link {
  color: #bd53ff;
  text-decoration: none;
}

.content__first__img > img {
  height: 225px;
  border-radius: 0.65rem;
} 

/* content__second */

.content__secound__outline {
  width: 100vw;
  background-color: rgb(231, 231, 231);
  position: relative;
  padding: 1.35rem 0 1.35rem 0;
}

.content__second {
  height: 275px;
  width: 360px;
  display: grid;
  grid-template-columns: repeat(6,45%);
  align-items: center;
  gap: 18px;
  margin: auto;
  overflow-x: scroll;
  padding-left: 5%;
}

.content__second {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.content__second::-webkit-scrollbar {
  display: none;
}

.carousel__element {
  height: 75%;
  width: 100%;
  color: white;
  display: grid;
  grid-template-rows: 75% 23%;
  border-radius: 0.8rem;
  background-color: rgb(6, 0, 24);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  right: 1px;
  transition: 200ms;
}

.carousel__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__img img {
  height: 80%;
  width: 80%;
}

.carousel__title {
  font-weight: 600;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  background-color: rgb(33, 30, 41);
}

.theme__text {
  font-size: 1.25em;
  font-weight: 600;
  color: #393e41;
  display: flex;
  justify-content: center;
  padding: 0rem 0.5rem 1.5rem 0.5rem;
}

.content__second__sparkles {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(196,0,215,1) 41%, rgba(101,69,252,1) 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkles 1s infinite;
  margin-left: 5px;
}

.content__second__text {
  display: none;
}

.content__second__arrows {
  display: none;
}

.content__second__arrows i:nth-child(1):hover,
.content__second__arrows i:nth-child(2):hover {
  color: #667074;
}


.content__second__arrows i:nth-child(1):active,
.content__second__arrows i:nth-child(2):active {
  color: #8e9ba0;
}

/* content__third */
  
.content__third__outline {
  width: 100%;
  background-color: rgb(6, 0, 24);
  padding: 1.3rem 0 1.3rem 0;
}

.content__third__outline > .content__container {
  display: grid;
  place-items: center;
}

.content__third {
  width: 100%;
  display: grid;
  gap: 2.5rem;
  place-content: center;
  padding: 3rem 0 3rem 0;
}

.content__third__meme__container {
  height: fit-content;
  width: fit-content;
  display: grid;
}

.content__third__meme {
  height: 300px;
  width: 300px;
  border-radius: 0.75rem 0.75rem 0 0;
  position: relative;
}

.input__text__container {
  height: 300px;
  width: 300px;
  font-size: 1.5em;
  color: white;
  -webkit-text-stroke: black 1.25px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  padding: 1rem;
}

.content__third__button {
  height: 45px;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  border: transparent;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: #7A7AFF;
  cursor: pointer;
}

.content__third__inputs {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 0.75rem;
}

.content__third__top__input__container,
.content__third__bottom__input__container,
.content__third__font__size__input__container {
  display: flex;
  justify-content: space-between;
}

.content__third__top__text,
.content__third__bottom__text,
.content__third__bottom_font__size {
  font-size: 1.25em;
  font-weight: 600;
  color: #8f8f8f;
}

.content__third__input__el {
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 0.35rem;
  padding: 0 0.2rem 0 0.5rem;
}

.content__third__range__input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  padding-right: 0.5rem;
}

.content__third__range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 0.25rem;
  background-color: #7A7AFF;
  cursor: pointer;
  margin-top: -5.5px;
}

.content__third__range__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 1rem;
  background-color: #5e666b;
}

.content__third__text {
  width: 300px;
  font-size: 1.04em;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/* content__fourth */

.content__fourth__outline {
  width: 100vw;
  background-color: rgb(231, 231, 231);
  padding: 3rem 0 3rem 0;
}

.content__fourth__outline > .content__container {
  display: grid;
  place-items: center;
}

.content__fourth {
  width: 100%;
  display: grid;
  place-items: center;
}

.content__fourth__pricing__container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3,1fr);
  place-items: center;
  gap: 2rem;
}

.content__fourth__text {
  text-align: center;
  padding: 0 2rem 3rem 2rem;
}

.content__fourth__text__header {
  padding-bottom: 1rem;
}

.content__fourth__text__description {
  font-weight: 600;
  color: #393e41;
}

.offer__card {
  height: 400px;
  width: 235px;
  color: white;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  place-items: center;
  border-radius: 0.75rem;
  background-color: black;
  padding: 1rem;
}

.offer__header,
.offer__pricing,
.offer__button {
  display: grid;
  place-items: center;
}

.offer__title {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

/* sparkles animation  */
@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

.offer__sparkles__container {
  display: inline-block;
  position: relative;
}

 .offer__sparkles__container > .offer__star {
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.offer__sparkles__container > .offer__star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.9;
}

.star__silver path {
  filter: invert(0) sepia(4%) saturate(0%) hue-rotate(206deg) brightness(100%) contrast(92%)
}

.star__gold path {
  filter: invert(0) sepia() saturate(10000%) hue-rotate(0deg)
}

.star__platinum path {
  filter: invert(0) sepia() saturate(10000%) hue-rotate(80deg)
}

.offer__type {
  font-weight: 400;
  opacity: 0.75;
}

.offer__price {
  font-size: 1.75rem;
  font-weight: 600;
}

.offer__time {
  font-weight: 400;
  opacity: 0.75;
}

.offer__info {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0.35rem;
}

.offer__info span {
  font-size: 0.825em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 0.45rem 0.5rem 0.45rem 0.5rem;
}

.offer__button {
  width: 115px;
  height: 32px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

@keyframes arrowOrder {
  25%{
    left: 5px;
  }
  50%{
    left: 0px;
  }
  75%{
    left: 5px;
  }
  100%{
    left: 0px;
  }
}

.offer__button i {
  position: relative;
  top: 1px;
  left: 0;
  right: 0;
}

.offer__button:hover i {
  animation: arrowOrder 1500ms 1;
} 

.offer__button span + i {
  position: relative;
  z-index: 3;
}

.offer__button::before {
  content: '';
  height: 200px;
  width: 0.00001px;
  position: absolute;
  z-index: 2;
  box-shadow: #fff 0 0 3px 5px;
  background-image: #ececec;
  rotate: -40deg;
  opacity: 0.9;
  transition: 0.7s;
  margin-top: 12rem;
}

.offer__button:hover::before {
  margin-top: -12rem;
}

.fa-circle-check,
.fa-circle-xmark {
  font-size: 1.25em;
}

.fa-circle-xmark {
  color: red;
}

.fa-circle-check {
  color: green;
}

/* FooterMobile  */

.footerMobile__container {
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.25rem;
  background-color: black;
  padding: 2.5rem;
}

.footerMobile__container h1 {
  font-size: 1.75em;
  font-weight: 400;
}

.footerMobile__container div:nth-child(2) {
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.footerMobile__container div:nth-child(3){
  display: flex;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.footerMobile__container div:nth-child(2) a,
.footerMobile__container div:nth-child(3) a{
  color: white;
  text-decoration: none;
}

/* FooterPc  */

.footerPC__outline {
  padding: 2rem;
  background-color: black;
  display: flex;
  justify-content: center;
}

.footerPC__container {
  height: 150px;
  color: white;
}

.footerPC__top__elements {
  height: 55%;
  width: 704px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.footerPC__top__elements span:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8em;
  cursor: pointer;
}

.footerPC__top__elements span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: 600;
}

.footerPC__top__elements span:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8em;
  cursor: pointer;
}

.footerPC__bottom__elements {
  height: 40%;
  width: 704px;
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footerPC__bottom__elements span {
  width: 20%;
}

.footerPC__email > span {
  position: relative;
  bottom: 4px;
}

.footerPC__email input,
.footerPC__email button
{
  all: unset;
  display: flex;
}

.footerPC__email > input {
  font-size: 0.95em;
  text-align: center;
  border-bottom: 1px solid white;
  position: relative;
}

.footerPC__email > input::placeholder {
  color: white;
}

.footerPC__bottom__elements span:nth-child(2) {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.footerPC__bottom__elements span:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.footerPC__bottom__elements span:nth-child(4) {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.footerPC__bottom__elements span:nth-child(5) {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.footerPC__bottom__elements a {
  color: white;
  text-decoration: none;
}

/* xs */
@media (min-width: 475px) {
  .content__container {
    max-width: 475px;
  }
  
  .header {
    height: 1250px;
  }

}

/* sm */
@media (min-width: 640px) {
  .content__container {
    max-width: 640px;
  }

  .header {
    height: 1200px;
  }

}

/* md */
@media (min-width: 768px) {
  .content__container {
    max-width: 768px;
  }
  
  .header {
    height: 675px;
  }

  .navbar__name {
    height: 35px;
    width: 125px;
    display: flex;
    margin-left: 0.825rem;
  }

  .text__header {
    font-size: 1.45em;
  }

  .quick__acces__container{
    width: 75%;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
  }

  .quick__tools {
    width: 99%;
    grid-column: span 2;
  }

  .templates__container {
    grid-template-columns: repeat(5,35%);
    grid-template-rows: repeat(2,35%);
    position: relative;
    bottom: 14.5rem;
  }

  .drag__drop {
    width: 110.25px;
    height: 110.25px;
    font-size: 1em;
    grid-column: span 1;
    margin-top: 0rem;
  }
  
  .drag__drop__content {
    grid-template-columns: repeat(3,25px);
  }

  .quick__description {
    font-size: 0.68em;
    gap: 1.25rem;
  }

  .fa-pen {
    font-size: 2em;
    margin-right: 0rem;
  }
  
  .fa-play {
    font-size: 2em;
    margin-right: 0rem;
  }

  /* content__first */

  .content__first {
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(1,1fr);
    padding-bottom: 4rem;
  }

  .content__first__header {
    font-size: 1.5em;
  }
  
  .content__first__description {
    font-size: 1.25em;
  }

  /* content__second  */

  .content__secound__outline>.content__container{
    display: grid;
    grid-template-columns: 360px 325px;
    gap: 50px;
  }

  .carousel__element {
    margin-left: 1rem;
  }

  .theme__text {
    display: none;
  }

  .content__second__text {
    padding-top: 3.25rem;
    padding-left: 1rem;
    display: block;
  }

  .content__second__header {
    font-size: 1.75em;
    padding-bottom: 0.6rem;
  }

  .content__second__description {
    font-size: 1em;
    font-weight: 600;
  }

  /* .slide__info {
    font-weight: 600;
    display: block;
    padding-top: 0.5rem;
  } */

  .content__second__arrows {
    width: 390px;
    font-size: 2.25em;
    color: #393e41;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    display: none;
  }

  /* content__third  */

  .content__third {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
    gap: 1rem;
  }

  .content__third__meme__container {
    grid-row: span 2;
  }

  .content__third__inputs {
    width: 300px;
  }

  .content__third__text {
    font-size: 1.4em;
    font-weight: 500;
    text-align: start;
    padding-bottom: 1rem;
  }

  /* content__fourth */

  .content__fourth__pricing__container {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 0.75rem;
  }
  
  .content__fourth__text__header {
    font-size: 1.5em;
  }
  
  .content__fourth__text__description {
    font-size: 1.1em;
  }

}

/* lg */
@media (min-width: 1024px) {
  .content__container {
    max-width: 1024px;
  }
    
  .header {
    height: 750px;
  }

  .navbar__bars {
    display: none;
  }

  .navbar__settings {
    gap: 1rem;
  }

  .navbar__logs {
    font-size: 1.35em;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
  }

  .fa-user {
    font-size: 0.9em;
    margin-right: 0.4rem;
  }

  .navbar__register {
    height: 40px;
    width: 106.52px;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    background-color: #c266ff;
    padding-top: 5.5px;
    overflow: hidden;
  }

  /* Navbar animation */
  
  .navbar__register span {
    position: relative;
    z-index: 1;
  }

  .navbar__register__color1,
  .navbar__register__color2,
  .navbar__register__color3,
  .navbar__register__color4 {
    height: 40px;
    width: 100%;
    border-radius: 50%;
    position: relative;
    transition: .3s;
  }

  .navbar__register__color1 {
    background-color: #fff896;
    margin-top: 10px;
  }

  .navbar__register__color2 {
    background-color: #4ADEDE;
    margin-top: -27.5%;
  }

  .navbar__register__color3 {
    background-color: rgb(122, 122, 255);
    margin-top: -27.5%;
  }

  .navbar__register__color4 {
    background-color: #c266ff;
    margin-top: -27.5%;
  }

  .arrows__container i:nth-child(1) {
      margin-right: 375px;
    }

  @keyframes navbar__register__animation {
    from {
      top: -.5rem;
    }
    to {
      top: -6.5rem;
    }
  }

  .navbar__register:hover div{
    animation: navbar__register__animation 1s 1;
  }

  /* Rollbar - mobile */

  .bars__rollbar {
    display: none;
  }

  /* end of animation */

  .text {
    padding: 2rem;
  }

  .text__header {
    font-size: 1.9em;
  }
  
  .text__description {
    font-size: 1.05em;
  }

  .quick__acces__container {
    width: 70%;
    gap: 1rem;
  }

  .quick__start,
  .quick__edit {
    height: 110%;
    width: 340px;
  }

  .quick__start,
  .quick__edit,
  .quick__tools {
    border-radius: 0.75rem;
  }

  .quick__description {
    height: 85px;
    font-size: 0.9em;
  }
  
  .quick__title {
    height: 42.5px;
    font-size: 1em;
  }

  .quick__tools {
    width: 99.5%;
  }

  .templates__container {
    grid-template-columns: repeat(5,45%);
    grid-template-rows: repeat(1,45%);
  }

  .drag__drop {
    height: 141.75px;
    width: 141.75px;
    font-size: 1.25em;
    grid-column: span 1;
  }

  .drag__drop__content {
    grid-template-columns: repeat(3,30px);
  }

  .templates__container {
    margin: 2.5rem auto 0 auto;
  }

  /* content__first */

  .content__first {
    grid-template-columns: 43% 43%;
    place-content: center;
    padding-bottom: 4rem;
    margin-top: -2.25rem;
  }

  .content__first__text {
    text-align: start;
    padding-left: 4rem;
  }

  .content__first__header {
    font-size: 2em;
  }
  
  .content__first__description {
    font-size: 1.35em;
  }

  .content__first__img> img {
    height: 250px;
    border-radius: 0.75rem;
  } 

  /* content__second  */

  .content__secound__outline > .content__container{
    place-content: center;
    grid-template-columns: 400px 350px;
  }

  .content__second {
    gap: 6%;
    padding-left: 0;
  }

  .carousel__element {
    margin-left: 0;
  }

  .content__second__header {
    font-size: 2em;
    padding-bottom: 0.75rem;
  }

  .content__second__description,
  .content__second__sparkles {
    font-weight: 700;
  }
  
  .content__second__arrows {
    width: 430px;
    display: flex;
    margin-left: -42px;
  }

  /* content__third  */

  .content__third {
    padding: 3.75rem 4.25rem 3.75rem 4.25rem;
  }

  .content__third__meme {
    height: 325px;
    width: 325px;
  }
  
  .input__text__container {
    height: 325px;
    width: 325px;
  }
  
  .content__third__button {
    height: 55px;
  }

  .content__third__top__text,
  .content__third__bottom__text,
  .content__third__bottom_font__size {
    font-size: 1.5em;
    font-weight: 600;
  }

  .content__third__inputs {
    width: 325px;
  }

  .content__third__text {
    width: 325px;
    font-size: 1.45em;
    padding-bottom: 2.25rem;
  }

  /* content__fourth */

  .content__fourth__pricing__container {
    gap: 2rem;
  }

  .content__fourth__text {
    max-width: 700px;
  }
  
  .content__fourth__text__header {
    font-size: 1.65em;
  }
  
  .content__fourth__text__description {
    font-size: 1.15em;
  }

}

/* xl */
@media (min-width: 1280px) {
  .content__container {
    max-width: 1280px;
  }
  
  .header {
    height: 750px;
  }

  .navbar{
    height: 85px;
  }

  .navbar__name {
    height: 35px;
    width: 150px;
  }

  .navbar__logo {
    height: 3rem;
  }

  .navbar__logs {
    font-size: 1.55em;
  }

  .navbar__register {
    height: 45px;
    width: 120px;
  }

  .navbar__register__color1,
  .navbar__register__color2,
  .navbar__register__color3,
  .navbar__register__color4 {
    height: 45px;
    width: 100%;
  }

  .text {
    padding: 2.25rem;
  }

  .text__header {
    font-size: 2.1em;
  }
  
  .text__description {
    font-size: 1.1em;
  }

  .quick__acces__container {
    width: 55%;
  }

  .quick__tools {
    width: 100%;
  }

  .quick__description span{
    font-size: 0.95em;
  }

  .fa-pen {
    font-size: 1.75em;
    color: #7353ba;
    margin-right: 0.5rem;
  }
  
  .fa-play {
    font-size: 1.75em;
    color: #e84855;
    margin-right: 0.5rem;
  }

    /* content__first */

    .content__first {
      grid-template-columns: 35% 35%;
      margin-top: -2rem;
    }
  
    .content__first__text {
      text-align: start;
      padding-left: 4rem;
    }

    .content__first__description {
      font-size: 1.35em;
    }
  
    .content__first__img> img {
      height: 250px;
      border-radius: 0.75rem;
    }

    /* content__third */

    .content__third {
      padding: 3.75rem 12.5rem 3.75rem 12.5rem;
    }

    /* content__fourth  */

    .content__fourth__text {
      max-width: 750px;
    }
    
    .content__fourth__text__header {
      font-size: 1.75em;
    }
    
    .content__fourth__text__description {
      font-size: 1.18em;
    }
    
    /* footer__PC  */

    .footerPC__top__elements {
      width: 760px;
    }

    .footerPC__top__elements span:nth-child(1) {
      font-size: 0.9em;
    }

    .footerPC__top__elements span:nth-child(2) {
      font-size: 1em;
      font-weight: 600;
    }

    .footerPC__top__elements span:nth-child(3) {
      font-size: 0.9em;
    }

    .footerPC__bottom__elements {
      width: 760px;
      font-size: 0.855em;
    }

    .footerPC__email > input {
      font-size: 1em;
    }

}

/* 2xl */
@media (min-width: 1536px) {
  .content__container {
    max-width: 1536px;
  }

  .header {
    height: 800px;
  }

  .navbar{
    height: 90px;
  }

  .navbar__name {
    height: 35px;
    width: 175px;
  }

  .navbar__logo {
    height: 3.75rem;
  }

  .navbar__logs {
    font-size: 1.6em;
    border-radius: 2rem;
  }

  .navbar__register {
    height: 45px;
    width: 125px;
  }

  .text {
    text-align: center;
  }

  .text__header {
    font-size: 2.25em;
  }
  
  .text__description {
    font-size: 1.25em;
  }

  .quick__acces__container {
    width: 55%;
    margin-top: 1.5rem;
  }

  .quick__start,
  .quick__edit {
    height: 125%;
    width: 410px;
  }

  .quick__description {
    height: 95px;
    font-size: 1.15em;
  }

  .arrows__container i:nth-child(1) {
    margin-right: 440px;
  }
  
  .quick__title {
    height: 50px;
    font-size: 1.15em;
  }

  .quick__tools {
    height: 50px;
    font-size: 1.05em;
    margin-top: 2.5rem;
  }

  .templates__container {
    gap: 10%;
    margin: 3.75rem auto 0 auto;
  }

  /* content__first */

  .content__first {
    grid-template-columns: 32% 32%;
    padding-top: 2.75rem;
  }

  /* content__second  */

  .content__secound__outline {
    padding: 1rem 0 2rem 0rem;
  }

  .content__secound__outline > .content__container{
    place-content: center;
    grid-template-columns: 400px 450px;
    gap: 50px;
  }

  .content__second__text {
    padding-top: 2rem;
  }

  .content__second__header {
    padding-bottom: 1rem;
  }

  .content__second__description,
  .content__second__sparkles {
    font-size: 1.3em;
    font-weight: 700;
  }

  /* content__third  */

  .content__third {
    padding: 3rem 16rem 3rem 16rem;
  }

  .content__third__meme {
    height: 350px;
    width: 350px;
  }
  
  .input__text__container {
    height: 350px;
    width: 350px;
  }
  
  .content__third__button {
    height: 55px;
  }

  .content__third__top__text,
  .content__third__bottom__text,
  .content__third__bottom_font__size {
    font-size: 1.5em;
    font-weight: 600;
  }

  .content__third__inputs {
    width: 375px;
  }

  .content__third__text {
    width: 375px;
    font-size: 1.65em;
    padding-bottom: 1.75rem;
  }

  /* content__fourth */

  .content__fourth__text__description {
    font-size: 1.25em;
  }
}

